.box-card {
  display: flex;
  align-items: stretch;
  .poster {
    position: relative;
    flex: 1;
    a {
      img {
        width: 100%;
        object-fit: cover;
        height: 400px;
      }
    }
  }
  .details {
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      margin: 0 0 5px;
      font-size: 2rem;
      font-weight: bold;
    }
    .genres {
      margin-bottom: 30px;
      .genre {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.875rem;
        opacity: 0.6;
        justify-content: flex-start;
        a {
          &:not(:last-child)::after {
            content: ",";
            margin-right: 4px;
          }
        }
      }
    }
    .text {
      font-size: 0.875rem;
      line-height: 1.8;
    }
  }
}
@media (max-width: 425px){
  .box-card{
    flex-wrap: wrap;
    .details{
      flex: unset;
    }
  }
}
