.home {
  width: 100%;

  // padding: 0 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .home-wrapper {
    width: 100%;
    .container {
      width: 100%;
      .content {
        width: 100%;
        article {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container {
    .inner {
      h2.title {
        font-size: 2rem !important;
      }
    }
  }
}
@media (max-width: 425px) {
  .container {
    .inner {
      h2.title {
        font-size: 1.5rem !important;
      }
    }
  }
  .control-btn
  {
    display: none !important;
  }
  .home .container .inner .content .row-item-list .item .item-content .slick-dots{
    margin-top: 0 !important;
  }
  .movie-details .container .content .box-content .box-content-full .box-module-items .module-item .module-content .slick-dots{
    margin-top: 0 !important;
  }
}
