.box-blog{
    background-color: #222222 !important;
    width: 100%;
    color: #fff;
    .container{
        max-width: 1520px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 95px !important;
        padding-bottom: 120px !important;
        
        .content{
            .inner{
                .wrapper{
                    .box-item{
                        .item-list{
                            display: grid;
                            grid-template-columns: repeat(3,1fr);
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 426px) and (max-width: 768px){
    .box-blog{
      .container{
        .content{
            .inner{
                .wrapper{
                    .box-item{
                        .item-list{
                            display: grid;
                            grid-template-columns: repeat(2,1fr);
                        }
                    }
                }
            }
        }
      }
    }
  }

  @media (max-width: 425px){
    .box-blog{
      .container{
        .content{
            .inner{
                .wrapper{
                    .box-item{
                        .item-list{
                            display: grid;
                            grid-template-columns: repeat(1,1fr);
                        }
                    }
                }
            }
        }
      }
    }
  }